{% extends "base.html" %}
{% load static i18n %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/style-contact.css'%}?=v1" />

{% endblock head %} {% block title %} {{title}} {% endblock title %} {% block contenido %}
<div class="contacto">
    <!-- <div class="container-contacto"> -->

    <form class="form-contacto" method="post">
        {% csrf_token %}
        <div class="contact-title">
            <h2>{{title}}</h2>
        </div>
        <div class="row">
            <div class="input-contact">
                <input type="text" name="nombre" id="nombre" value="{{ form.nombre.value|default_if_none:'' }}" required />
                <label for="nombre"><i class="bi bi-person-fill"></i>{% trans "Nombre" %}</label>
            </div>

            <div class="input-contact">
                <input type="number" name="fono" id="fono" value="{{ form.fono.value|default_if_none:'' }}" required maxlength="15" />
                <label for="fono"><i class="bi bi-telephone-fill"></i> {% trans "Teléfono" %}</label>
            </div>
        </div>

        <div class="row">
            <div class="input-contact">
                <input type="email" name="correo" id="correo" value="{{ form.correo.value|default_if_none:'' }}" required />
                <label for="correo"><i class="bi bi-envelope-fill"></i> {% trans "Correo" %}</label>
            </div>

            <div class="input-contact">
                <input type="text" name="asunto" id="asunto" value="{{ form.asunto.value|default_if_none:'' }}" required />
                <label for="asunto"><i class="bi bi-backspace-reverse-fill"></i> {% trans "Asunto" %}</label>
            </div>
        </div>

        <div class="input-contact">
            <textarea name="mensaje" id="mensaje" rows="8" required>{{ form.mensaje.value|default_if_none:'' }}</textarea>
            <label for="mensaje"><i class="bi bi-chat-left-dots-fill"></i> {% trans "Mensaje" %}</label>
        </div>

        <button class="btn-contact" type="submit">
            <i class="bi bi-send-fill"></i> {% trans "Enviar Mensaje" %}
        </button>
        <button class="btn-contact" type="reset">
            <i class="bi bi-x-octagon-fill"></i> {% trans "Limpiar" %}
        </button>

        <div class="contact-socials-icons">
            <div class="icons-contacto">
                <a href="#"><i class="bi bi-twitter"></i></a>
                <a href="#"><i class="bi bi-facebook"></i></a>
                <a href="#"><i class="bi bi-instagram"></i></a>
                <a href="#"><i class="bi bi-github"></i></a>
                <a href="#"><i class="bi bi-twitter-x"></i></a>
                <a href="#"><i class="bi bi-discord"></i></a>
                <a href="#"><i class="bi bi-spotify"></i></a>
                <a href="#"><i class="bi bi-messenger"></i></a>
                <a href="#"><i class="bi bi-gitlab"></i></a>
                <a href="#"><i class="bi bi-slack"></i></a>
                <a href="#"><i class="bi bi-google"></i></a>
                <a href="#"><i class="bi bi-telegram"></i></a>
                <a href="#"><i class="bi bi-twitch"></i></a>
                <a href="#"><i class="bi bi-whatsapp"></i></a>
            </div>
        </div>
    </form>
</div>

{% endblock contenido %}
