{% extends "base.html" %} {% load static %} {% block head %}
<link rel="stylesheet" href="{% static 'css/style-index.css'%}?=v1" />

{% endblock head %}

{% block title %} {{title}} {% endblock title %}

{% block contenido %}
<!-- section Hero -->
<div>

    <section id="section-hero-index" class="section-hero-index">
        <div class="container">
            <h1 id="section-hero-index-title" class="section-hero-index-title">
                <span class="texto-destaca">Frikiverso</span><br />Todos Tus Gustos Frikis
            </h1>
            <p id="section-hero-index-p" class="section-hero-index-p">
                Tus Gustos en un solo lugar
            </p>
            <form action="#">
                <button class="button-index">¡Unete a Nosotros!</button>
            </form>
        </div>
    </section>
    <!-- section About -->
    <section id="section-about" class="section-about">
        <div class="container">
            <div class="img-container"></div>
            <div class="section-about-texto">
                <h2>
                    Somos
                    <span class="texto-destaca">
                        Frikis!!!
                    </span>
                </h2>
                <p>
                    En FrikiVerso, nos apasiona ofrecerte los mejores contenidos relacionados con animes, mangas,
                    juegos, Peliculas y Musica para que colecciones. Nuestro objetivo es mantener a los fanáticos como
                    tú actualizados y entretenidos de forma constante.
                </p>
            </div>
        </div>
    </section>
    <!-- section logos -->
    <section id="section-logo" class="section-logo">
        <h1 class="section-logo-title">Colecciona</h1>
        <div class="container">
            <img class="logo-brand" src="{% static 'img/icons/Discord.webp' %}" alt="Discord" />
            <img class="logo-brand" src="{% static 'img/icons/Itch.webp' %}" alt="Itch" />
            <img class="logo-brand" src="{% static 'img/icons/Spotify.webp' %}" alt="Spotify" />
            <img class="logo-brand" src="{% static 'img/icons/Steam.webp' %}" alt="Steam" />
            <img class="logo-brand" src="{% static 'img/icons/F95-Zone.webp' %}" alt="F95 Zone" />
            <img class="logo-brand" src="{% static 'img/icons/Renpy.webp' %}" alt="Renpy" />
            <img class="logo-brand" src="{% static 'img/icons/epicGames.webp' %}" alt="Epic Games" />
        </div>
    </section>
    <!-- section Servicios -->
    <section id="services-section" class="section-services">
        <div class="title-service-section">
            <h2>
                Que Encontraras
            </h2>
        </div>
        <div class="services-section-servicios">
            <!-- Musica  -->
            <a href="#" class="card-container">
                <div class="card">
                    <div class="img-content">
                        <img src="{% static 'img/services/Zone-Music.webp' %}" alt="Card Image" />
                    </div>
                    <div class="content">
                        <p class="heading">
                            Musica
                        </p>
                        <p>
                            Agrega Canciones y comparte a los demas usuarios.
                        </p>
                    </div>
                </div>
            </a>

            <!-- Peliculas  -->
            <a href="#" class="card-container">
                <div class="card">
                    <div class="img-content">
                        <img src="{% static 'img/services/Zone-Movie.webp' %}" alt="Card Image" />
                    </div>
                    <div class="content">
                        <p class="heading">
                            Peliculas
                        </p>
                        <p>
                            Agrega Peliculas y comparte a los demas usuarios.
                        </p>
                    </div>
                </div>
            </a>

            <!-- Juegos  -->
            <a href="#" class="card-container">
                <div class="card">
                    <div class="img-content">
                        <img src="{% static 'img/services/Zone-Game.webp' %}" alt="Card Image" />
                    </div>
                    <div class="content">
                        <p class="heading">
                            Juegos
                        </p>
                        <p>
                            Agrega Juegos y comparte a los demas usuarios.
                        </p>
                    </div>
                </div>
            </a>

            <!-- Manga  -->
            <a href="#" class="card-container">
                <div class="card">
                    <div class="img-content">
                        <img src="{% static 'img/services/Zone-Manga.webp' %}" alt="Card Image" />
                    </div>
                    <div class="content">
                        <p class="heading">
                            Manga
                        </p>
                        <p>
                            Agrega Mangas y comparte a los demas usuarios.
                        </p>
                    </div>
                </div>
            </a>

            <!-- Peliculas  -->
            <a href="#" class="card-container">
                <div class="card">
                    <div class="img-content">
                        <img src="{% static 'img/services/Zone-Anime.webp' %}" alt="Card Image" />
                    </div>
                    <div class="content">
                        <p class="heading">
                            Animes
                        </p>
                        <p>
                            Agrega Animes y comparte a los demas usuarios.
                        </p>
                    </div>
                </div>
            </a>
        </div>
    </section>
    <!-- section Caractetisticas -->
    <section id="section-caracteristicas" class="section-caracteristicas">
        <div class="container">
            <div class="section-caracteristicas-texto">
                <h3>
                    Más Caraceristicas
                </h3>
                <ul>
                    <li>
                        <p>
                            <i class="bi bi-star-fill"></i>
                            100% online
                        </p>
                    </li>

                    <li>
                        <p>
                            <i class="bi bi-star-fill"></i>
                            Información de My Anime List
                        </p>
                    </li>

                    <li>
                        <p>
                            <i class="bi bi-star-fill"></i>
                            Tus propias colecciones
                        </p>
                    </li>

                </ul>
                </ul>
            </div>
            <div class="img-container"></div>
        </div>
    </section>
    <!-- Contact Section -->
    <section id="contact" class="contact section">
        <!-- Section Title -->
        <div class="container" data-aos="fade-up">
            <h2>
                <span class="titulo-contacto">Contacto</span>
            </h2>
            <p>
                <span class="parrafo-contacto">Contacta con nosotros</span>
            </p>
        </div>
        <!-- End Section Title -->
        <!-- Google Maps -->
        <div class="container google-maps" data-aos="fade-up" data-aos-delay="100">
            <div class="mb-5" data-aos="fade-up" data-aos-delay="200">
                <iframe class="ubicacion"
                    src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d48389.78314118045!2d-74.006138!3d40.710059!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c25a22a3bda30d%3A0xb89d1fe6bc499443!2sDowntown%20Conference%20Center!5e0!3m2!1sen!2sus!4v1676961268712!5m2!1sen!2sus"
                    frameborder="0" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <!-- End Google Maps -->
            <div class="row gy-4">
                <div class="col-lg-4">
                    <!-- Info Item -->
                    <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="300">
                        <i class="bi bi-geo-alt flex-shrink-0"></i>
                        <div>
                            <h3>Dirección</h3>
                            <p>A108 Adam Street, New York, NY 535022</p>
                        </div>
                    </div>


                    <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="400">
                        <i class="bi bi-telephone flex-shrink-0"></i>
                        <div>
                            <h3>LLámanos</h3>
                            <p>+1 5589 55488 55</p>
                        </div>
                    </div>


                    <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="500">
                        <i class="bi bi-envelope flex-shrink-0"></i>
                        <div>
                            <h3>Escribenos</h3>
                            <p>info@example.com</p>
                        </div>
                    </div>


                    <!-- End Info Item -->
                </div>
                <div class="col-lg-8">
                    <form action="#" method="post" class="php-email-form" data-aos="fade-up" data-aos-delay="200">
                        <div class="row gy-4">
                            <div class="col-md-6">
                                <input type="text" name="name" class="form-control" placeholder="Nombre" required="">
                            </div>
                            <div class="col-md-6 ">
                                <input type="email" class="form-control" name="email" placeholder="Tu Correo"
                                    required="">
                            </div>
                            <div class="col-md-12">
                                <input type="text" class="form-control" name="subject" placeholder="Asunto" required="">
                            </div>
                            <div class="col-md-12">
                                <textarea class="form-control" name="message" rows="6" placeholder="Mensaje"
                                    required=""></textarea>
                            </div>
                            <div class="col-md-12 text-center">
                                <div class="loading">
                                    Cargando
                                </div>
                                <div class="error-message"></div>
                                <div class="sent-message">
                                    Tu mensaje ha sido enviado. ¡Gracias!
                                </div>
                                <button type="submit">
                                    <i class="bi bi-send"></i>
                                    Enviar mensaje
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
                <!-- End Contact Form -->
            </div>
        </div>
    </section><!-- /Contact Section -->
</div>
<!-- section Footer -->

<footer id="footer" class="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row gy-4">
                <div class="col-lg-4 col-md-6 footer-about">
                    <a href="#" class="logo d-flex align-items-center">
                        <span class="sitename">Frikiverso</span>
                    </a>
                    <div class="footer-contact pt-3">
                        <p>A108 Adam Street</p>
                        <p>New York, NY 535022</p>
                        <p><strong>Phone:</strong> <span>+1 5589 55488 55</span></p>
                        <p><strong>Email:</strong> <span>info@example.com</span></p>
                    </div>
                </div>

                <div class="col-lg-2 col-md-3 footer-links">
                    <h4>
                        Enlaces útiles
                    </h4>
                    <ul>
                        <li>
                            <i class="bi bi-chevron-right"></i>
                            <a href="#">
                                Home
                            </a>
                        </li>

                        <li>
                            <i class="bi bi-chevron-right"></i>
                            <a  href="#">
                                Sobre nosotros
                            </a>
                        </li>

                        <li>
                            <i class="bi bi-chevron-right"></i>
                            <a  href="#">
                                Servicios
                            </a>
                        </li>

                        <li>
                            <i class="bi bi-chevron-right"></i>
                            <a href="#">
                                Términos de servicio
                            </a>
                        </li>
                        <li>
                            <i class="bi bi-chevron-right"></i>
                            <a href="#">
                                Política de privacidad</a>
                        </li>
                    </ul>
                </div>

                <div class="col-lg-2 col-md-3 footer-links">
                    <h4>
                        Nuestros servicios
                    </h4>
                    <ul>
                        <li><i class="bi bi-chevron-right"></i>
                            <a href="#">
                                Musica
                            </a>
                        </li>
                        <li><i class="bi bi-chevron-right"></i>
                            <a href="#">
                                Peliculas
                            </a>
                        </li>
                        <li><i class="bi bi-chevron-right"></i>
                            <a href="#">
                                Juegos
                            </a>
                        </li>
                        <li><i class="bi bi-chevron-right"></i>
                            <a href="#">
                                Mangas
                            </a>
                        </li>
                        <li><i class="bi bi-chevron-right"></i>
                            <a href="#">
                                Animes
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="col-lg-4 col-md-12 footer-newsletter">
                    <h4>
                        Nuestras Redes
                    </h4>
                    <p>
                        Encuentranos en nuestras redes sociales
                    </p>

                    <div class="social-links d-flex mt-6">
                        <a href="#"><i class="bi bi-twitter"></i></a>
                        <a href="#"><i class="bi bi-twitter-x"></i></a>
                        <a href="#"><i class="bi bi-facebook"></i></a>
                        <a href="#"><i class="bi bi-instagram"></i></a>
                        <a href="#"><i class="bi bi-linkedin"></i></a>
                        <a href="#"><i class="bi bi-discord"></i></a>
                        <a href="#"><i class="bi bi-github"></i></a>
                    </div>
                    <div class="social-links d-flex mt-6">
                        <a href="#"><i class="bi bi-gitlab"></i></a>
                        <a href="#"><i class="bi bi-messenger"></i></a>
                        <a href="#"><i class="bi bi-slack"></i></a>
                        <a href="#"><i class="bi bi-telegram"></i></a>
                        <a href="#"><i class="bi bi-twitch"></i></a>
                        <a href="#"><i class="bi bi-whatsapp"></i></a>
                        <a href="#"><i class="bi bi-youtube"></i></a>
                    </div>


                </div>

            </div>
        </div>
    </div>

    <div class="copyright">
        <div class="container text-center">
            <p>
                &copy;
                <span>
                    Copyright
                </span>
                <strong class="px-1 sitename">
                    Frikiverso 2024
                </strong>
                <span>
                    Todos los Derechos Reservados.
                </span>
            </p>
        </div>
    </div>

</footer>


{% endblock contenido %}