{% extends 'base_DataTables.html' %}{% load static %}

{% block dateTableThead %}
<th scope="col" class="table-th th-id">ID</th>
<th scope="col" class="table-th th-name">Nombre</th>
<th scope="col" class="table-th th-yes-no">Link</th>
<th scope="col" class="table-th th-yes-no">Activo</th>
<th scope="col" class="table-th th-actions">Acciones</th>
{% endblock dateTableThead %}

{% block dataTableBody %}
{% for website in websites %}
<tr>
    <td class="td-id">{{ website.id }}</td>
    <td>
        <a href="{{ website.url }}" target="_blank" class="dataTable-custom-link">
            {{ website.display_name }}
        </a>
    </td>
    <td>
        <a href="{{ website.url }}" target="_blank" class="dataTable-custom-link">
            {{ website.display_link }}
        </a>
        </a>
    </td>
    <td class="td-yes-no"{{ website.is_active|yesno:"Sí,No" }}</td>
    <td>
        <select onchange="handleAction(this, '{{ website.id }}', '{{ website.name }}', '{{ key_map }}')">
            <option value="">Acciones</option>
            <option value="1">Ver</option>
            <option value="2">Editar</option>
            {% if not website.is_active %}
            <option value="3">Activar</option>
            {% else %}
            <option value="4">Desactivar</option>
            {% endif %}
            <option value="99">Eliminar</option>
        </select>
    </td>
</tr>
{% endfor %}
{% endblock dataTableBody %}