{% extends 'base_DataTables.html' %}{% load static %}

{% block dateTableThead %}
<th scope="col" class="table-th th-id">ID</th>
<th scope="col" class="table-th th-name">Nombre</th>
<th scope="col" class="table-th th-name">Link</th>
<th scope="col" class="table-th th-yes-no">Activo</th>
<th scope="col" class="table-th th-actions">Acciones</th>
{% endblock dateTableThead %}

{% block dataTableBody %}
{% for web_site in web_sites %}
<tr>
    <td class="td-id">{{ web_site.id }}</td>
    <td>
        <a href="{{ web_site.url }}" target="_blank" class="dataTable-custom-link">
            {{ web_site.display_name }}
        </a>
    </td>
    <td>
        <a href="{{ web_site.url }}" target="_blank" class="dataTable-custom-link">
            {{ web_site.display_link_text }}
        </a>
    </td>
    <td class="td-yes-no">{{ web_site.is_active|yesno:"Sí,No" }} </td>
    <td>
        <select onchange="handleAction(this, '{{ web_site.id }}', '{{ web_site.name }}', '{{ key_map }}')">
            <option value="">Acciones</option>
            <option value="1">Ver</option>
            <option value="2">Editar</option>
            {% if not web_site.is_active %}
            <option value="3">Activar</option>
            {% else %}
            <option value="4">Desactivar</option>
            {% endif %}
            <option value="99">Eliminar</option>
        </select>
    </td>
</tr>
{% endfor %}
{% endblock dataTableBody %}