{% extends 'base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/style-form-users.css'%}?=v1" />
{% endblock head %}

{% block title %} {{title}} {% endblock title %}

{% block contenido %}
<div class="{{class}}">
    <div class="formulario">
            <h1 class="formulario__title">{{title}}</h1>
            <div class="user__form__contenedor">
                <p>Si el correo ingresado está registrado, recibirás un mensaje con instrucciones para restablecer tu contraseña</p>
                <p>Por favor, revisa tu bandeja de entrada y también la carpeta de spam.</p>
                <p>El enlace para restablecer tu contraseña estará disponible durante <strong>5 horas</strong>.</p>
                    <div class="formulario__buttons">
                        <a class="btn btn__save" href="{{cancel_url}}">
                            <i class="bi bi-hand-thumbs-up-fill"></i>
                            Aceptar
                        </a>
                </div>
            </div>
    </div>
</div>
{% endblock contenido %}
{% block javascript %}
{% endblock javascript %}




