{% extends 'base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/style-form-users.css'%}?=v1" />
{% endblock head %}

{% block title %} {{title}} {% endblock title %}

{% block contenido %}
<div class="{{class}}">
    <div class="formulario">
            <h1 class="formulario__title"> {{title}} </h1>
            <div class="user__form__contenedor">
                <p>
                    Tu contraseña ha sido restablecida exitosamente. Ahora puedes iniciar
                    sesión con tu nueva contraseña.
                </p>
                <a href="{{ cancel_url }}">Iniciar Sesión</a>
            </div>
    </div>
</div>
{% endblock contenido %}
{% block javascript %}
{% endblock javascript %}