{% extends 'base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/style-form-users.css'%}?=v1" />
{% endblock head %}

{% block title %} {{title}} {% endblock title %}

{% block contenido %}
<div class="{{class}}">
    <div class="formulario">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <h1 class="formulario__title">{{title}}</h1>
            <div class="user__form__contenedor">

            <div class="formulario__campos">
                <div class="formulario__campo__input">
                    <label>{{ form.email.label }}</label>
                    {{ form.email }}
                </div>
            </div>

            <div class="formulario__buttons">
                <button type="submit" class="btn btn__save">
                    <i class="bi bi-person-plus-fill"></i>
                    {{title}}
                </button>

                <a class="btn btn__cancel" href="{{cancel_url}}">
                    <i class="bi bi-x-octagon"></i>
                    Cancelar
                </a>
            </div>
        </div>
        </form>
    </div>
</div>
{% endblock contenido %}
{% block javascript %}
{% endblock javascript %}