{% extends 'base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/style-form-users.css'%}?=v1" />
{% endblock head %}

{% block title %} {{title}} {% endblock title %}

{% block contenido %}
<div class="{{class}}">
    <div class="formulario">
      <form method="post" enctype="multipart/form-data">
               {% csrf_token %}
            <h1 class="formulario__title"> {{title}} </h1>
            <div class="user__form__contenedor">

                <div class="formulario__campos">
                    <div class="formulario__campo__input">
                        <label>{{ form.new_password1.label }}
                        </label>
                        {{ form.new_password1 }}
                    </div>
                  </div>
                <div class="formulario__campos">
                    <div class="formulario__campo__input">
                        <label>{{ form.new_password2.label }}
                        </label>
                        {{ form.new_password2 }}
                    </div>
                </div>

                <div class="formulario__buttons">
                    <button type="submit" class="btn btn__save">
                        <i class="bi bi-person-plus-fill"></i>
                        {{title}}
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock contenido %}
{% block javascript %}
{% endblock javascript %}

