{% extends "base.html" %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/style-form-user.css'%}?=v2" />{% endblock head %}

{% block title %} {{title}} {% endblock title %}

{% block contenido %}
<div class="{{class}}">
    <div class="form-box">
        <form method="post">
            {% csrf_token %}
            <div class="container-title">
                <h2 class="title-form">{{title}}</h2>
                <i class="bi bi-info-square-fill info-icon" data-bs-toggle="modal" data-bs-target="#modalInfo"></i>
            </div>

            <div class="show-password">
                <button type="button" class="show-password-btn" onclick="toggleAllPasswords()"
                    id="togglePasswordButton">
                    <i class="bi bi-eye eye-icon" id="togglePasswordIcon"></i> Mostrar Contraseñas
                </button>
            </div>

            <div class="input-field">
                <span class="input-icon"><i class="bi bi-lock-fill"></i></span>
                {{ form.old_password }}
                <label for="{{ form.old_password.id_for_label }}">{{ form.old_password.label }}</label>
            </div>

            <div class="input-field">
                <span class="input-icon"><i class="bi bi-lock-fill"></i></span>
                {{ form.new_password1 }}
                <label for="{{ form.new_password1.id_for_label }}">{{ form.new_password1.label }}</label>
            </div>

            <div class="input-field">
                <span class="input-icon"><i class="bi bi-lock-fill"></i></span>
                {{ form.new_password2 }}
                <label for="{{ form.new_password2.id_for_label }}">{{ form.new_password2.label }}</label>
            </div>

            <button type="submit" class="form-btn form-btn-success">
                <i class="bi bi-floppy-fill"></i> Guardar
            </button>
            <a class="btn pchange-btn-cancel" href="{{ cancel_url }}" role="button">
                <i class="bi bi-x-circle-fill"></i>
                Cancelar
            </a>
        </form>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="modalInfo" tabindex="-1" aria-labelledby="modalInfoLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="modalInfoLabel">Información sobre contraseñas</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>
                <ul>
                    <li>Su contraseña no puede asemejarse tanto a su otra información personal.</li>
                    <li>Su contraseña debe contener al menos 8 caracteres.</li>
                    <li>Su contraseña no puede ser una clave utilizada comúnmente.</li>
                    <li>Su contraseña no puede ser completamente numérica.</li>
                </ul>
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

{% endblock contenido %}

{% block javascript %}
<script>
    function toggleAllPasswords() {
        const passwordInputs = document.querySelectorAll('input[type="password"], input[type="text"]');
        const toggleButton = document.getElementById('togglePasswordButton');
        const toggleIcon = document.getElementById('togglePasswordIcon');

        passwordInputs.forEach(input => {
            if (input.type === 'password') {
                input.type = 'text';
                toggleButton.innerHTML = '<i class="bi bi-eye-slash eye-icon" id="togglePasswordIcon"></i> Ocultar Contraseñas';
            } else {
                input.type = 'password';
                toggleButton.innerHTML = '<i class="bi bi-eye eye-icon" id="togglePasswordIcon"></i> Mostrar Contraseñas';
            }
        });
    }
</script>
{% endblock javascript %}