@import url("base.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--fuente);
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4 {
    font-family: var(--fuente);
}

h1 {
    font-size: 5rem;
}

h2 {
    font-size: 3.5rem;
}

h3 {
    font-size: 2.5rem;
}

h4 {
    font-size: 1.8rem;
}

p {
    font-size: 1.1rem;
    line-height: 1.6;
}

a {
    text-decoration: none;
    color: var(--color-white);
}

a:hover {
    color: var(--color-royalpurple);
}

/** Estilos navbar **/
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: var(--color-navbar-bg, --color-navbar-bg);
    height: 50px;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
}

main {
    padding-top: 50px;
}

.full-screen-main {
    min-height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
}

.navbar a {
    color: var(--color-white);
    text-decoration: none;
    margin: 0 5px;
}

.navbar a:hover,
.nav-link:hover {
    color: var(--color-purple-light);
}

.navbar-brand:hover {
    color: var(--color-purple-light);
}

.navbar-toggler {
    border: 1px solid var(--color-white) !important;
}

.navbar-toggler-icon {
    background-image: var(--hamburger);
    color: var(--color-white) !important;
}

.dropdown-menu {
    color: var(--color-white);
    padding: 10px;
    border: none;
    box-shadow: none;
}

.dropdown-item {
    text-decoration: none;
}

.dropdown-item:hover {
    background: transparent;
}

.user-options {
    display: none;
}

@media (max-width: 1216px) {
    .icon-hide {
        display: none;
    }
}

#divisor {
    height: 1px;
    margin: 0.5rem 0;
    background-color: var(--color-white);
}

.language-select {
    margin-left: 10px;
    margin-right: 10px;
    background-color: var(--color-navbar-bg);
    color: var(--color-white);
    border: 1px solid var(--color-white);
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    -webkit-transition: background-color 0.3s ease, color 0.3s ease;
    -moz-transition: background-color 0.3s ease, color 0.3s ease;
    -ms-transition: background-color 0.3s ease, color 0.3s ease;
    -o-transition: background-color 0.3s ease, color 0.3s ease;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.language-select:hover, .language-select:focus {
    /* background-color: #333; */
    color: var(--color-white);
    outline: none;
}
