@import url("base.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--fuente);
}

.container__form {
    width: 100%;
    padding: 10px;
    min-height: calc(100vh - 50px);
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.contenedor-formulario {
    padding: 1em;
    background: var(--gradient-transparent-dark);
    box-shadow: inset -2px 2px 2px var(--color-dark-cyan), 0 5px 5px var(--color-dark-cyan);
    border-radius: 20px;
    margin: 0;
    width: 80%;
    min-width: auto;
    max-width: 1200px;
    max-height: 600px;
    border-radius: 20px;
    overflow: hidden;
    overflow-y: auto;
    color: var(--color-white);

    border: 1px solid var(--color-dark-cyan);

}

/* Estilo del scrollbar en navegadores WebKit (Chrome, Edge, Safari) */
.contenedor-formulario::-webkit-scrollbar {
    width: 0;
}

.form__title {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-dark-cyan);
    border-bottom: 2px solid var(--color-dark-cyan);
    margin: 0;
    letter-spacing: 5px;
    font-size: 3em;
    margin-bottom: 0.5em;
    font-weight: bold;
    text-transform: uppercase;
}

.form__campos {
    display: flex;
    gap: 1em;
    margin-bottom: 1em;
    flex-wrap: wrap;
}

.form__input {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.form__input label {
    color: var(--color-white);
    margin-left: 0.5em;
    font-weight: bold;
}

.form__input input,
.form__input select,
.form__input textarea {
    padding: 0.5em;
    background: var(--color-transparent-black-medium);
    color: var(--color-white);
    border-color: var(--color-dark-cyan);
    outline: none;
}

.form__input input::placeholder,
.form__input select::placeholder,
.form__input textarea::placeholder {
    color: var(--color-white);
}

.form__input input:focus,
.form__input select::placeholder,
.form__input textarea:focus {
    background: var(--color-transparent-black-medium);
    border-color: var(--color-dark-cyan);
    color: var(--color-white);
}


/* checkbox del formulario */
.form__checkbox {
    margin-bottom: 1em;
}

.checkbox__title {
    align-items: center;
    justify-content: center;
    display: flex;
    text-align: center;
    font-weight: bold;
    margin: 0;
    font-size: 1.5em;
    color: var(--color-dark-cyan);
}

.checkbox__category {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    margin-bottom: 1em;
}



.checkbox__category div {
    display: flex;
    align-items: center;
}

.checkbox__category label {
    margin-right: 0.5em;
    font-size: 1em;
    font-weight: bold;
    color: var(--color-white);

}

.checkbox__category input[type="checkbox"] {
    width: 20px;
    height: 20px;
    cursor: pointer;
    appearance: none;
    -webkit-appearance: none;
    border: 2px solid var(--color-white);
    display: inline-block;
    position: relative;
    margin-right: 0.5em;
    background-color: var(--color-transparent-black-medium);
}

.checkbox__category input[type="checkbox"]:checked {
    background-color: var(--color-dark-cyan);
    border: none;
}

.checkbox__category input[type="checkbox"]:checked::after {
    content: "✓";
    font-size: 14px;
    color: var(--color-white);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

/* botones */
.form__buttons__large {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3px;
    margin-bottom: 3px;
    gap: 1em;
}


.form__buttons__large .btn {
    width: 100%;
    padding: 0.5em 0.75em;
    border: none;
    border-radius: 24px;
    font-size: 1.5em;
    font-weight: 500;
    cursor: pointer;
    transition: background 0.3s;
    -webkit-border-radius: 24px;
    -moz-border-radius: 24px;
    -ms-border-radius: 24px;
    -o-border-radius: 24px;
    -webkit-transition: background 0.3s;
    -moz-transition: background 0.3s;
    -ms-transition: background 0.3s;
    -o-transition: background 0.3s;
    color: var(--color-white);
}

.form__buttons__large .btn:hover {
    box-shadow: inset 2px -2px 2px var(--color-white);
}

.form__buttons__short {
    display: flex;
    justify-content: center;
    margin-top: 1.5em;
    gap: 1em;
}

.form__buttons__short .btn {
    padding: 0.5em 0.75em;
    border: none;
    border-radius: 24px;
    font-size: 1.5em;
    font-weight: 500;
    cursor: pointer;
    transition: background 0.3s;
    -webkit-border-radius: 24px;
    -moz-border-radius: 24px;
    -ms-border-radius: 24px;
    -o-border-radius: 24px;
    -webkit-transition: background 0.3s;
    -moz-transition: background 0.3s;
    -ms-transition: background 0.3s;
    -o-transition: background 0.3s;
    color: var(--color-white);
}

.form__buttons__short .btn:hover {
    box-shadow: inset 2px -2px 2px var(--color-white);
}

#btn__primary {
    background: var(--success);
}

#btn__primary:hover {
    background: var(--success-hover);
}

#btn__cancel {
    background: var(--danger);
}

#btn__cancel:hover {
    background: var(--danger-hover);
}

.img__container {
    display: flex;
    justify-content: center;
}

/* Estilos para la tabla del formulario */

.image-container {
    border: 1px solid var(--color-dark-cyan);
    display: flex;
}

.table {
    width: 100%;
    table-layout: fixed;
    /* Establece un ancho fijo para las celdas */
}

.table th {
    text-align: center;
    font-size: 1.5em;
    /* Tamaño de fuente grande para encabezados */
    font-weight: 600;
    /* Negrita para encabezados */
}

.table th,
.table td {
    background: transparent;
    /* Fondo transparente para celdas */
    color: var(--color-dark-cyan);
    /* Color del texto */
    width: 50%;
    /* Ancho del 50% para las celdas */
}

.bordered-table {
    border-collapse: collapse;
    /* Colapsa bordes para evitar duplicaciones */
    border: 1px solid var(--color-dark-cyan);
    /* Borde alrededor de la tabla */
    width: 100%;
    /* Ancho total de la tabla */
}

.bordered-table th,
.bordered-table td {
    padding: 10px;
    /* Espaciado interno de celdas */
    text-align: center;
    /* Alineación centrada para el texto en celdas */
}

.image-container-inner {
    max-width: 50%;
    /* Limita el ancho del contenedor interno */
    margin: 0 auto;
    /* Centra el contenedor */
    overflow: hidden;
    /* Esconde cualquier contenido que sobresalga */
}

.image-preview {
    max-width: 100%;
    /* Ancho máximo para la imagen */
    height: auto;
    /* Altura automática para mantener la relación de aspecto */
    object-fit: contain;
    /* Mantiene la relación de aspecto */
}

.image-form a,
.audio-form a {
    display: none;
    /* Ocultar enlace en el formulario de imagen */
}

/* Para ocultar el texto específico "Actualmente:" */
.image-form label:contains("Actualmente: ") {
    display: none;
    /* Oculta la etiqueta con este texto específico */
}

/* Ocultar el checkbox y su etiqueta */
#photo-clear_id,
#cover_image-clear_id,
#audio_file-clear_id,
label[for="cover_image-clear_id"],
label[for="audio_file-clear_id"],
label[for="photo-clear_id"] {
    display: none;
}

/* Si deseas ocultar todas las etiquetas en el formulario de imagen */
.image-form label {
    display: none;
    /* Oculta todas las etiquetas dentro de .image-form */
}

input[type="file"] {
    background-color: transparent;
    border: 1px solid var(--color-dark-cyan);
    color: var(--color-white);
    cursor: pointer;
    padding: 10px 10px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s;
}

input[type="file"]::-webkit-file-upload-button {
    background-color: var(--color-blue-bright);

    color: var(--color-white);
    border: none;
    padding: 5px 10px;
    margin: 0 5px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

input[type="file"]::-webkit-file-upload-button:hover {
    background-color: var(--color-dark-cyan);
    color: var(--color-white);
}

.audio-preview {
    text-align: center;
}



/** backgrounds Users **/
.bg-users-user {background-image: var(--bg-users-user)}

/** backgrounds Common **/
.bg-common-company {background-image: var(--bg-common-company)}
.bg-common-country {background-image: var(--bg-common-country)}
.bg-common-format {background-image: var(--bg-common-format)}
.bg-common-image_size {background-image: var(--bg-common-image_size)}
.bg-common-language {background-image: var(--bg-common-language)}
.bg-common-person {background-image: var(--bg-common-person)}
.bg-common-person_image {background-image: var(--bg-common-person_image)}
.bg-common-person_image_extra {background-image: var(--bg-common-person_image_extra)}
.bg-common-person_nickname {background-image: var(--bg-common-person_nickname)}
.bg-common-quality {background-image: var(--bg-common-quality)}
.bg-common-website {background-image: var(--bg-common-website)}

.bg-common-context {background-image: var(--bg-common-context)}
.bg-common-rating {background-image: var(--bg-common-rating)}
.bg-common-type {background-image: var(--bg-common-type)}
.bg-common-status {background-image: var(--bg-common-status)}
.bg-common-genre {background-image: var(--bg-common-genre)}

/** backgrounds Movie **/
.bg-movie-genre {background-image: var(--bg-movie-genre)}
.bg-movie-type {background-image: var(--bg-movie-type)}
.bg-movie-role {background-image: var(--bg-movie-role)}
.bg-movie-rating {background-image: var(--bg-movie-rating)}
.bg-movie-producer {background-image: var(--bg-movie-producer)}
.bg-movie-distributor {background-image: var(--bg-movie-distributor)}
.bg-movie-movie {background-image: var(--bg-movie-movie)}
.bg-movie-title_movie {background-image: var(--bg-movie-title_movie)}
.bg-movie-movie_staff {background-image: var(--bg-movie-movie_staff)}
.bg-movie-movie_cast {background-image: var(--bg-movie-movie_cast)}
.bg-movie-movie_image {background-image: var(--bg-movie-movie_image)}
.bg-movie-movie_image_extra {background-image: var(--bg-movie-movie_image_extra)}

/** backgrounds Music **/
.bg-music-genre {background-image: var(--bg-music-genre)}
.bg-music-role {background-image: var(--bg-music-role)}
.bg-music-album_type {background-image: var(--bg-music-album_type)}
.bg-music-artist_type {background-image: var(--bg-music-artist_type)}
.bg-music-artist {background-image: var(--bg-music-artist)}
.bg-music-artist_member {background-image: var(--bg-music-artist_member)}
.bg-music-album {background-image: var(--bg-music-album)}
.bg-music-song {background-image: var(--bg-music-song)}
.bg-music-album_image {background-image: var(--bg-music-album_image)}
.bg-music-album_image_extra {background-image: var(--bg-music-album_image_extra)}
.bg-music-artist_image {background-image: var(--bg-music-artist_image)}
.bg-music-artist_image_extra {background-image: var(--bg-music-artist_image_extra)}

/** backgrounds Otaku**/
.bg-otaku-role {background-image: var(--bg-otaku-role)}
.bg-otaku-year {background-image: var(--bg-otaku-year)}
.bg-otaku-genre {background-image: var(--bg-otaku-genre)}
.bg-otaku-theme {background-image: var(--bg-otaku-theme)}
.bg-otaku-demographic {background-image: var(--bg-otaku-demographic)}
.bg-otaku-type {background-image: var(--bg-otaku-type)}
.bg-otaku-rating {background-image: var(--bg-otaku-rating)}
.bg-otaku-season {background-image: var(--bg-otaku-season)}
.bg-otaku-status {background-image: var(--bg-otaku-status)}
.bg-otaku-source {background-image: var(--bg-otaku-source)}
.bg-otaku-relation_type {background-image: var(--bg-otaku-relation_type)}
.bg-otaku-season_full {background-image: var(--bg-otaku-season_full)}
.bg-otaku-producer {background-image: var(--bg-otaku-producer)}
.bg-otaku-licensor {background-image: var(--bg-otaku-licensor)}
.bg-otaku-studio {background-image: var(--bg-otaku-studio)}
.bg-otaku-serialization {background-image: var(--bg-otaku-serialization)}
.bg-otaku-anime {background-image: var(--bg-otaku-anime)}
.bg-otaku-manga {background-image: var(--bg-otaku-manga)}
.bg-otaku-title_anime {background-image: var(--bg-otaku-title_anime)}
.bg-otaku-title_manga {background-image: var(--bg-otaku-title_manga)}
.bg-otaku-character {background-image: var(--bg-otaku-character)}
.bg-otaku-character_nickname {background-image: var(--bg-otaku-character_nickname)}
.bg-otaku-person {background-image: var(--bg-otaku-person)}
.bg-otaku-person_nickname {background-image: var(--bg-otaku-person_nickname)}
.bg-otaku-song {background-image: var(--bg-otaku-song)}
.bg-otaku-song_OP {background-image: var(--bg-otaku-song_OP)}
.bg-otaku-song_ED {background-image: var(--bg-otaku-song_ED)}
.bg-otaku-song_IN {background-image: var(--bg-otaku-song_IN)}
.bg-otaku-anime_character {background-image: var(--bg-otaku-anime_character)}
.bg-otaku-manga_character {background-image: var(--bg-otaku-manga_character)}
.bg-otaku-voice_character {background-image: var(--bg-otaku-voice_character)}
.bg-otaku-anime_staff {background-image: var(--bg-otaku-anime_staff)}
.bg-otaku-author_manga {background-image: var(--bg-otaku-author_manga)}
.bg-otaku-media_relation {background-image: var(--bg-otaku-media_relation)}
.bg-otaku-media_relation_anime {background-image: var(--bg-otaku-media_relation_anime)}
.bg-otaku-media_relation_manga {background-image: var(--bg-otaku-media_relation_manga)}
.bg-otaku-anime_image {background-image: var(--bg-otaku-anime_image)}
.bg-otaku-anime_image_extra {background-image: var(--bg-otaku-anime_image_extra)}
.bg-otaku-manga_image {background-image: var(--bg-otaku-manga_image)}
.bg-otaku-manga_image_extra {background-image: var(--bg-otaku-manga_image_extra)}
.bg-otaku-person_image {background-image: var(--bg-otaku-person_image)}
.bg-otaku-person_image_extra {background-image: var(--bg-otaku-person_image_extra)}
.bg-otaku-character_image {background-image: var(--bg-otaku-character_image)}
.bg-otaku-character_image_extra {background-image: var(--bg-otaku-character_image_extra)}
.bg-otaku-data_anime {background-image: var(--bg-otaku-data_anime)}
.bg-otaku-data_anime_characters {background-image: var(--bg-otaku-data_anime_characters)}
.bg-otaku-data_anime_pictures {background-image: var(--bg-otaku-data_anime_pictures)}
.bg-otaku-data_anime_staff {background-image: var(--bg-otaku-data_anime_staff)}
.bg-otaku-data_manga {background-image: var(--bg-otaku-data_manga)}
.bg-otaku-data_manga_characters {background-image: var(--bg-otaku-data_manga_characters)}
.bg-otaku-data_manga_pictures {background-image: var(--bg-otaku-data_manga_pictures)}
.bg-otaku-data_character {background-image: var(--bg-otaku-data_character)}
.bg-otaku-data_character_pictures {background-image: var(--bg-otaku-data_character_pictures)}
.bg-otaku-data_person {background-image: var(--bg-otaku-data_person)}
.bg-otaku-data_person_pictures {background-image: var(--bg-otaku-data_person_pictures)}
.bg-otaku-data_image_url {background-image: var(--bg-otaku-data_image_url)}
.bg-otaku-temp_persons {background-image: var(--bg-otaku-temp_personsl)}
.bg-otaku-temp_character {background-image: var(--bg-otaku-temp_characterl)}

/** backgrounds renpy **/
.bg-renpy-genre {background-image: var(--bg-renpy-genre)}
.bg-renpy-game_engine {background-image: var(--bg-renpy-game_engine)}
.bg-renpy-censorship {background-image: var(--bg-renpy-censorship)}
.bg-renpy-prefix {background-image: var(--bg-renpy-prefix)}
.bg-renpy-status {background-image: var(--bg-renpy-status)}
.bg-renpy-platform {background-image: var(--bg-renpy-platform)}
.bg-renpy-developer {background-image: var(--bg-renpy-developer)}
.bg-renpy-translator {background-image: var(--bg-renpy-translator)}
.bg-renpy-publisher {background-image: var(--bg-renpy-publisher)}
.bg-renpy-game {background-image: var(--bg-renpy-game)}
.bg-renpy-game_image {background-image: var(--bg-renpy-game_image)}
.bg-renpy-game_image_extra {background-image: var(--bg-renpy-game_image_extra)}
.bg-renpy-developer_link {background-image: var(--bg-renpy-developer_link)}
.bg-renpy-translator_link {background-image: var(--bg-renpy-translator_link)}
.bg-renpy-publisher_link {background-image: var(--bg-renpy-publisher_link)}
.bg-renpy-developer_image {background-image: var(--bg-renpy-developer_image)}
.bg-renpy-developer_image_extra {background-image: var(--bg-renpy-developer_image_extra)}
.bg-renpy-translator_image {background-image: var(--bg-renpy-translator_image)}
.bg-renpy-translator_image_extra {background-image: var(--bg-renpy-translator_image_extra)}
.bg-renpy-publisher_image {background-image: var(--bg-renpy-publisher_image)}
.bg-renpy-publisher_image_extra {background-image: var(--bg-renpy-publisher_image_extra)}
.bg-renpy-title_game {background-image: var(--bg-renpy-title_game)}
.bg-renpy-data_game {background-image: var(--bg-renpy-data_game)}

/** backgrounds Serie **/
.bg-serie-genre {background-image: var(--bg-serie-genre)}
/* .bg-serie-genre {background-image: var(--bg-serie-genre)} */
.bg-serie-type {background-image: var(--bg-serie-type)}
.bg-serie-role {background-image: var(--bg-serie-role)}
.bg-serie-rating {background-image: var(--bg-serie-rating)}
.bg-serie-producer {background-image: var(--bg-serie-producer)}
.bg-serie-distributor {background-image: var(--bg-serie-distributor)}
.bg-serie-serie {background-image: var(--bg-serie-serie)}
.bg-serie-title_serie {background-image: var(--bg-serie-title_serie)}
.bg-serie-serie_staff {background-image: var(--bg-serie-serie_staff)}
.bg-serie-serie_cast {background-image: var(--bg-serie-serie_cast)}
.bg-serie-serie_image {background-image: var(--bg-serie-serie_image)}
.bg-serie-serie_image_extra {background-image: var(--bg-serie-serie_image_extra)}

/* Estilo para el contenedor de los checkboxes */
.checkbox-multiple-wrapper {
    color: var(--color-white);
    background: var(--color-transparent-black-medium);
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    /* Menor espacio entre los elementos */
    min-height: 50px;
    max-height: 100px;
    overflow-y: auto;
    border-radius: 8px;
    padding: 10px;
    border: 1px solid var(--color-dark-cyan);
}

/* Estilo de los checkboxes */
.checkbox-multiple-wrapper input[type="checkbox"] {
    margin-right: 5px;
    padding: 0;
    /* Espacio entre checkbox y texto */
    accent-color: var(--color-dark-cyan);
    /* Color cyan para el checkbox */
    transform: scale(1.2);
    /* Escalar el checkbox para hacerlo más visible */
    cursor: pointer;
}

/* Estilo de las etiquetas (labels) */
.checkbox-multiple-wrapper label {

    display: flex;
    padding: 0;
    margin: 0;
    /* Usamos flex para centrar verticalmente el texto y el checkbox */
    align-items: center;
    font-size: 1rem;
    /* Tamaño de fuente más pequeño */
    font-weight: 400;
    /* Peso de la fuente más ligero */
    color: var(--color-white);

    /* Espacio entre cada checkbox */

    /* Espacio a la derecha */

    /* Espacio interno alrededor del texto */
    transition: background-color 0.3s, color 0.3s;
    /* Transición suave para hover */

    /* Bordes redondeados */
    cursor: pointer;
    /* Cursor de puntero al pasar por encima */
}

/* Estilo al hover sobre los checkboxes */
.checkbox-multiple-wrapper label:hover {
    color: var(--color-cyan);
}

/* Estilo del scrollbar (Webkit - Chrome, Safari) */
.checkbox-multiple-wrapper::-webkit-scrollbar {
    width: 8px;
    /* Ancho del scrollbar */
}

.checkbox-multiple-wrapper::-webkit-scrollbar-thumb {
    background-color: var(--color-dark-cyan);
    /* Color de la parte que se mueve */
    border-radius: 10px;
    /* Bordes redondeados */
}

.checkbox-multiple-wrapper::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.2);
    /* Fondo oscuro y translúcido */
    border-radius: 10px;
}

.checkbox-multiple-wrapper::-webkit-scrollbar-thumb:hover {
    background-color: var(--color-dark-cyan);
    /* Color al pasar el ratón */
}

/* lkjfkljdfjfkldjfkdjkfjskfj */


