{% extends 'base_DataTables.html' %}{% load static %}

{% block dateTableThead %}
<th scope="col" class="table-th th-id">ID</th>
<th scope="col" class="table-th th-name_short">Nombre</th>
<th scope="col" class="table-th th-yes-no">Videos</th>
<th scope="col" class="table-th th-yes-no">Música</th>
<th scope="col" class="table-th th-yes-no">Imágenes</th>
<th scope="col" class="table-th th-yes-no">Documentos</th>
<th scope="col" class="table-th th-yes-no">Otros</th>
<th scope="col" class="table-th th-yes-no">Activo</th>
<th scope="col" class="table-th th-actions">Acciones</th>
{% endblock dateTableThead %}

{% block dataTableBody %}
{% for format in formats %}
<tr>
    <td class="td-id">{{ format.id }}</td>
    <td>{{ format.name }}</td>
    <td>{{ format.for_video|yesno:"Sí,No" }}</td>
    <td>{{ format.for_music|yesno:"Sí,No" }}</td>
    <td>{{ format.for_image|yesno:"Sí,No" }}</td>
    <td>{{ format.for_document|yesno:"Sí,No" }}</td>
    <td>{{ format.for_other|yesno:"Sí,No" }}</td>
    <td>{{ format.is_active|yesno:"Sí,No" }}</td>
    <td>
        <select onchange="handleAction(this, '{{ format.id }}', '{{ format.name }}', '{{ key_map }}')">
            <option value="">Acciones</option>
            <option value="1">Ver</option>
            <option value="2">Editar</option>
            {% if not format.is_active %}
            <option value="3">Activar</option>
            {% else %}
            <option value="4">Desactivar</option>
            {% endif %}
            <option value="99">Eliminar</option>
        </select>
    </td>
</tr>
{% endfor %}
{% endblock dataTableBody %}