{% extends 'base_dataTables.html' %}{% load static %}

{% block dateTableThead %}
<th scope="col" class="table-th th-id">ID</th>
<th scope="col" class="table-th th-name_short">Nombre Persona</th>
<th scope="col" class="table-th th-name_short">Apodo</th>
<th scope="col" class="table-th th-yes-no">Activo</th>
<th scope="col" class="table-th th-actions">Acciones</th>
{% endblock dateTableThead %}

{% block dataTableBody %}
{% for nick in nicknames %}
<tr>
    <td>{{ nick.id }}</td>
    <td>{{ nick.person.full_name }}</td>
    <td>{{ nick.nickname }}</td>
    <td>{{ nick.is_active|yesno:"Sí,No" }}</td>
    <td>
        <select onchange="handleAction(this, '{{ nick.id }}', '{{ nick.nickname }}', '{{ key_map }}')">
        <option value="">Acciones</option>
        <option value="1">Ver</option>
        <option value="2">Editar</option>
        {% if not nick.is_active %}
        <option value="3">Activar</option>
        {% else %}
        <option value="4">Desactivar</option>
        {% endif %}
        <option value="99">Eliminar</option>
        </select>
    </td>
</tr>
{% endfor %}
{% endblock dataTableBody %}
