{% extends 'base_DataTables.html' %}{% load static %}

{% block dateTableThead %}
<th scope="col" class="table-th th-id">ID</th>
<th scope="col" class="table-th th-name_short">Nombre Idioma</th>
<th scope="col" class="table-th th-name_short">Nombre Idioma Español</th>
<th scope="col" class="table-th th-yes-no">Activo</th>
<th scope="col" class="table-th th-actions">Acciones</th>
{% endblock dateTableThead %}

{% block dataTableBody %}
{% for language in languages %}
<tr>
    <td class="td-id">{{ language.id }}</td>

    <td>{{ language.combined_language }} </td>
    <td>{{ language.combined_language_esp }}</td>
    <td class="td-yes-no">{{ language.is_active|yesno:"Sí,No" }}</td>
    <td>
        <select onchange="handleAction(this, '{{ language.id }}', '{{ language.name }}', '{{ key_map }}')">
            <option value="">Acciones</option>
            <option value="1">Ver</option>
            <option value="2">Editar</option>
            {% if not language.is_active %}
            <option value="3">Activar</option>
            {% else %}
            <option value="4">Desactivar</option>
            {% endif %}
            <option value="99">Eliminar</option>
        </select>
    </td>
</tr>
{% endfor %}
{% endblock dataTableBody %}

