
{% load static i18n %}
<footer id="footer" class="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row gy-4">
                <div class="col-lg-4 col-md-6 footer-about">
                    <a href="#" class="logo d-flex align-items-center">
                        <span class="sitename">Frikiverso</span>
                    </a>
                    <div class="footer-contact pt-3">
                        <p>A108 Adam Street</p>
                        <p>New York, NY 535022</p>
                        <p><strong>{% trans "Teléfono" %}:</strong> <span>+1 5589 55488 55</span></p>
                        <p><strong>{% trans "Correo" %}:</strong> <span>info@example.com</span></p>
                    </div>
                </div>

                <div class="col-lg-2 col-md-3 footer-links">
                    <h4>
                        {% trans "Enlaces útiles" %}
                    </h4>
                    <ul>
                        <li>
                            <i class="bi bi-chevron-right"></i>
                            <a href="#">
                                {% trans "Inicio" %}
                            </a>
                        </li>

                        <li>
                            <i class="bi bi-chevron-right"></i>
                            <a  href="#">
                                {% trans "Sobre nosotros" %}
                            </a>
                        </li>

                        <li>
                            <i class="bi bi-chevron-right"></i>
                            <a  href="#">
                                {% trans "Servicios" %}
                            </a>
                        </li>

                        <li>
                            <i class="bi bi-chevron-right"></i>
                            <a href="#">
                                {% trans "Términos de servicio" %}
                            </a>
                        </li>
                        <li>
                            <i class="bi bi-chevron-right"></i>
                            <a href="#">
                                {% trans "Política de privacidad" %}
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="col-lg-2 col-md-3 footer-links">
                    <h4>
                        {% trans "Nuestros servicios" %}
                    </h4>
                    <ul>
                        <li><i class="bi bi-chevron-right"></i>
                            <a href="#">
                                {% trans "Música" %}
                            </a>
                        </li>
                        <li><i class="bi bi-chevron-right"></i>
                            <a href="#">
                                {% trans "Películas" %}
                            </a>
                        </li>
                        <li><i class="bi bi-chevron-right"></i>
                            <a href="#">
                                {% trans "Juegos" %}
                            </a>
                        </li>
                        <li><i class="bi bi-chevron-right"></i>
                            <a href="#">
                                {% trans "Mangas" %}
                            </a>
                        </li>
                        <li><i class="bi bi-chevron-right"></i>
                            <a href="#">
                                {% trans "Animes" %}
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="col-lg-4 col-md-12 footer-newsletter">
                    <h4>
                        {% trans "Nuestras Redes" %}
                    </h4>
                    <p>
                        {% trans "Encuentranos en nuestras redes sociales" %}
                    </p>

                    <div class="social-links d-flex mt-6">
                        <a href="#"><i class="bi bi-twitter"></i></a>
                        <a href="#"><i class="bi bi-twitter-x"></i></a>
                        <a href="#"><i class="bi bi-facebook"></i></a>
                        <a href="#"><i class="bi bi-instagram"></i></a>
                        <a href="#"><i class="bi bi-linkedin"></i></a>
                        <a href="#"><i class="bi bi-discord"></i></a>
                        <a href="#"><i class="bi bi-github"></i></a>
                    </div>
                    <div class="social-links d-flex mt-6">
                        <a href="#"><i class="bi bi-gitlab"></i></a>
                        <a href="#"><i class="bi bi-messenger"></i></a>
                        <a href="#"><i class="bi bi-slack"></i></a>
                        <a href="#"><i class="bi bi-telegram"></i></a>
                        <a href="#"><i class="bi bi-twitch"></i></a>
                        <a href="#"><i class="bi bi-whatsapp"></i></a>
                        <a href="#"><i class="bi bi-youtube"></i></a>
                    </div>


                </div>

            </div>
        </div>
    </div>

    <div class="copyright">
        <div class="container text-center">
            <p>
                &copy;
                <span>
                    Copyright
                </span>
                <strong class="px-1 sitename">
                    Frikiverso 2025
                </strong>
                <span>
                    {% trans "Todos los Derechos Reservados." %}
                </span>
            </p>
        </div>
    </div>
</footer>