<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'pages_app:index' %}">
            Frikiverso
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'common_app:home' %}">
                        General
                    </a>
                </li>
                <!-- Musica -->
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'music_app:home' %}">
                        Musica
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'movie_app:home' %}">
                        Cine
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'serie_app:home' %}">
                        TV
                    </a>
                </li>
                <!-- Juegos -->
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'renpy_app:home' %}">
                        Juegos
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'otaku_app:home' %}">
                        Otaku
                    </a>
                </li>


                <!-- Usuario -->
                {% if user.is_authenticated %}
                <!-- Animes -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false"
                        href="#">
                        {% if user.username %}
                        {{ user.username }}
                        {% else %}
                        usuario
                        {% endif %}
                    </a>
                    <ul class="dropdown-menu bg-dark">
                        <li>
                            <a class="dropdown-item" href="#">
                                Mi pefil
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">
                                Cambiar Contraseña
                            </a>
                        </li>
                        {% if user.is_superuser %}
                        <div class="dropdown-divider" id="divisor"></div>

                        <li>
                            <a class="dropdown-item" href="#">
                                Gestión Usuarios
                            </a>
                        </li>


                        <li>
                            <a class="dropdown-item" href="#">
                                Admin
                            </a>
                        </li>
                        {% endif %}
                    </ul>
                </li>
                {% endif %}
                <!-- Final If Autenticated Real -->
                {% if not user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'users_app:login' %}">
                        Ingresar
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'users_app:users_create' %}">
                        Registrarse
                    </a>
                </li>
                {% endif %}

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'pages_app:about' %}">
                        Nosotros
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'pages_app:contact' %}">
                        Contacto
                    </a>
                </li>
            </ul>
            {% if user.is_authenticated %}
            <form action="{% url 'users_app:logout' %}" method="post" class="form-inline my-2 my-lg-0">
                {% csrf_token %}
                <button class="btn btn-outline-danger my-2 my-sm-0" type="submit">
                    Salir
                </button>
            </form>
            {% endif %}
        </div>
    </div>
</nav>