{% load i18n %}

{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'pages_app:index' %}">
            Frikiverso
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'common_app:home' %}">
                        {% trans 'General' %}
                    </a>
                </li>
                <!-- Musica -->
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'music_app:home' %}">
                        {% trans 'Música' %}
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'movie_app:home' %}">
                        {% trans 'Películas' %}
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'serie_app:home' %}">
                        {% trans 'Serie' %}
                    </a>
                </li>
                <!-- Juegos -->
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'renpy_app:home' %}">
                        {% trans 'Juegos' %}
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'otaku_app:home' %}">
                        {% trans 'Otaku' %}
                    </a>
                </li>
                <!-- Usuario -->
                {% if user.is_authenticated %}
                <!-- Animes -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false"
                        href="#">
                        {% if user.username %}
                        {{ user.username }}
                        {% endif %}
                    </a>
                    <ul class="dropdown-menu bg-dark">
                        <li>
                            <a class="dropdown-item" href="#">
                                {% trans 'Mi perfil' %}
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">
                                {% trans 'Cambiar contraseña' %}
                            </a>
                        </li>
                        {% if user.is_superuser %}
                        <div class="dropdown-divider" id="divisor"></div>
                        <li>
                            <a class="dropdown-item" href="#">
                                {% trans 'Gestión de usuarios' %}
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">
                                {% trans 'Administrador' %}
                            </a>
                        </li>
                        {% endif %}
                    </ul>
                </li>
                {% endif %}
                <!-- Final If Autenticated Real -->
                {% if not user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'users_app:login' %}">
                        {% trans 'Ingresar' %}
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'users_app:users_create' %}">
                        {% trans 'Registrarse' %}
                    </a>
                </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'pages_app:about' %}">
                        {% trans 'Nosotros' %}
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'pages_app:contact' %}">
                        {% trans 'Contacto' %}
                    </a>
                </li>
            </ul>
            {% if user.is_authenticated %}
            <form action="{% url 'users_app:logout' %}" method="post" class="form-inline my-2 my-lg-0">
                {% csrf_token %}
                <button class="btn btn-outline-danger my-2 my-sm-0" type="submit">
                    {% trans 'Salir' %}
                </button>
            </form>
            {% endif %}
            <form action="{% url 'set_language' %}" method="post" class="d-inline">
                {% csrf_token %}
                <select name="language" onchange="this.form.submit()" class="language-select">
                    {% for lang_code, lang_name in LANGUAGES %}
                        <option value="{{ lang_code }}" {% if lang_code == LANGUAGE_CODE %}selected{% endif %}>
                            {{ lang_name }}
                        </option>
                    {% endfor %}
                </select>
                <input type="hidden" name="next" value="{{ request.path }}">
            </form>
        </div>
    </div>
</nav>