@import url("base.css");


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--fuente);
}

.bg-users-user {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background: var(--bg-users-user);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}


.form-box {
    position: relative;
    width: 600px;
    color: var(--color-white);
    background: var(--gradient-transparent-dark);
    padding: 40px 35px 55px;
    border-radius: 20px;
    box-shadow: inset -2px 2px 2px var(--color-cyan);
}

.title-form {
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 20px;
}

/* Estilos para los campos de entrada */
.input-field {
    position: relative;
    width: 95%;
    margin: 30px 0;
    border-bottom: 2px solid var(--color-white);
}
.input-field label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: var(--color-white);
    pointer-events: none;
    transition: 0.5s;
}
.input-field input {
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: var(--color-white);
    padding: 0 38px 0 5px;
}

.input-field input:focus ~ label,
.input-field input:valid ~ label {
    top: -5px;
}
.input-field .input-icon {
    position: absolute;
    right: 8px;
    color: var(--color-white);
    font-size: 1.2em;
    line-height: 57px;
}

/* Botones comunes */
.form-btn {
    cursor: pointer;
    font-size: 1.5em;
    color: var(--color-white);
    width: 100%;
    height: 50px;
    border: none;
    outline: none;
    border-radius: 40px;
    font-weight: 600;
    margin-top: 15px;
}

.form-btn-success {
    background: var(--success);
}

.form-btn-success:hover {
    background: var(--success-hover);
    box-shadow: 0px 0px 5px 5px var(--color-transparent-white-darkest);
}


.pchange-btn-cancel {
    background: var(--danger);
    cursor: pointer;
    font-size: 1.5em;
    color: var(--color-white);
    width: 100%;
    height: 50px;
    border: none;
    outline: none;
    border-radius: 40px;
    font-weight: 600;
    margin-top: 15px;
    transform: 0.1;
    -webkit-transform: 0.1;
    -moz-transform: 0.1;
    -ms-transform: 0.1;
    -o-transform: 0.1;
}
.pchange-btn-cancel:hover {
    background: var(--danger-hover);
    color: var(--color-white);
    box-shadow: 0px 0px 5px 5px var(--color-transparent-white-darkest);
}

/* Estilos específicos del formulario de cambio de contraseña */
.show-password {
    display: flex;
    justify-content: center;
    align-items: center;
}

.show-password-btn {
    background: var(--warning);
    color: var(--color-black);
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    display: inline-flex;
    align-items: center;
    gap: 5px;
}

.show-password-btn:hover {
    background: var(--warning-hover);
    color: var(--color-white);
}

/* Estilos específicos del formulario de inicio de sesión */
.remember-forget {
    margin: -10px 0 15px;
    font-size: 20px;
    color: var(--color-white);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.remember-forget a {
    text-decoration: none;
    color: var(--color-white);
}

.remember-forget a:hover {
    color: var(--color-purple);
}

.login-link {
    font-size: 0.9em;
    text-align: center;
    margin: 25px 0 10px;
}

.login-link a {
    color: var(--color-white);
    text-decoration: none;
}

.login-link a:hover {
    color: var(--color-purple);
}

/* Modal */
/* Modal */
.modal-content {
    border-radius: 20px;
    box-shadow: 0 4px 6px var(--color-transparent-black-darkest);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centra verticalmente */
    align-items: center; /* Centra horizontalmente */
    text-align: center; /* Centra el texto */
}

.modal-header {
    background: var(--color-white);
    color: var(--color-black);
    display: flex;
    justify-content: center; /* Centra el contenido horizontalmente */
    align-items: center; /* Centra el contenido verticalmente */
}

.modal-body {
    padding: 20px; /* Espaciado interno */
    background-color: var(--color-white);
    color: var(--color-black);
}

.modal-body .pchange-p ul li {
    list-style: decimal;
    color: var(--color-black);
    padding: 0.2em;
    font-size: 1em;
}

.modal-footer {
    background-color: var(--color-white);
    border-top: 1px solid var(--color-dim-gray); /* Opcional, para un pequeño borde */
    padding: 10px;
    display: flex;
    justify-content: center; /* Centra los botones horizontalmente */
    gap: 10px; /* Espaciado entre botones */
}

.btn-secondary {
    width: 90%;
    background-color: var(--color-blueviolet);
    color: var(--color-white);
    border: none;
    border-radius: 5px; /* Bordes redondeados */
}

.btn-secondary:hover {
    background-color: var(--color-purple);
    color: var(--color-white);
}