{% extends 'base_form.html' %}
{% load static %}

{% block formulario %}

<div class="form__campos">
    <div class="form__input">
        <label>{{ form.title.label_tag }}</label>
        {{ form.title }}
    </div>
</div>

<div class="form__campos">
    <div class="form__input">
        <label>{{ form.language.label_tag }}</label>
        {{ form.language }}
    </div>
</div>


<div class="form__campos">
    <div class="form__input">
        <label>{{ form.game.label_tag }}</label>
        {{ form.game }}
    </div>
</div>

{% if not media_file_table %}
<div class="form__campos">
    <div class="form__input">
        <label>{{ form.image.label_tag }}</label>
        {{ form.image }}
    </div>
</div>
{% endif %}

<div class="form__campos">
    <div class="form__input">
        <label>{{ form.image_url.label_tag }}</label>
        {{ form.image_url }}
    </div>
</div>

<div class="form__checkbox">
    <span class="checkbox__title">Opciones</span>
    <div class="checkbox__category">
        <div>
            <label>{{ form.is_active.label_tag }}</label>
            {{ form.is_active }}
        </div>
    </div>
</div>

{% if media_file_table %}
<div class="form__campos">
    <div class="image-container">
        <table class="bordered-table table">
            <thead>
                <tr>
                    <th><h4>Imagen Actual</h4></th>
                    <th><h4>Nueva Imagen</h4></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="image-preview" rowspan="2">
                        <div class="image-container-inner">
                            {% if media_url is None %}
                                <h4>Sin imagen actualmente</h4>
                            {% else %}
                                <img src="{{ media_url }}" alt="Imagen actual" class="image-preview" />
                                <br>
                                <a href="{{ media_url }}" target="_blank" rel="noopener noreferrer">Ver imagen</a>
                            {% endif %}
                        </div>
                    </td>
                    <td>
                        <div class="form__input image-form">
                            <label>{{ form.image.label_tag }}</label>
                            {{ form.image }}
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% endif %}


{% endblock formulario %}

{% block javascript %}

{% endblock javascript %}
